:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

button {
  text-transform: uppercase;
}
h2,
h3 {
  font-weight: 400;
}
.background-white {
  height: 120px;
}
mat-card-content > div {
  padding: 10px 0 25px 0;
}
.grid-3fr-1fr .paragraph-flex {
  align-self: center;
}
