:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  color: rgba(96, 96, 96, 0.87);
}
.contenedor {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 150px;
}
ul {
  list-style: none;
}
.mb {
  margin-bottom: 25px;
}
mat-card.info {
  margin-bottom: 40px;
  min-width: 270px;
  padding: 20px 30px 30px 30px;

  mat-card-actions {
    text-align: center;
    display: flex;
    flex-direction: column;

    button {
      white-space: normal;
    }
  }
}
.title {
  font-size: 20px;
  margin: 0;
}
