<mat-toolbar class="info-section">
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section"></div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section logo-inferior">
        <img class="pdn-img" src="assets/pdn-white.png" alt="Gobierno del Estado de Veracruz" />
        Versión 2022.10.13.01
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section"></div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section"></div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
