<mat-toolbar class="info-section">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2">
      <div class="section-container">
        <img class="pdn-img" src="assets/pdn-white.png" alt="PDN" />
        <label class="pdn-text">Plataforma Digital Nacional</label>
        <br /><br />
        <label class="ida-text">Inteligencia de Datos Anticorrupción</label>
        <img class="libre-uso-img" src="assets/libre-uso-mx-white.png" alt="Libre Uso MX" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section">
        <p class="primary-text">Sistemas</p>
        <button class="menu-button" mat-button>Declaraciones</button>
        <button class="menu-button" mat-button>Servidores en contrataciones</button>
        <button class="menu-button" mat-button>Sancionados</button>
        <button class="menu-button" mat-button>Contrataciones</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section">
        <p class="primary-text">PDN</p>
        <button class="menu-button" mat-button>Blog</button>
        <button class="menu-button" mat-button>Preguntas frecuentes</button>
        <button class="menu-button" mat-button>¿Qué es la PDN?</button>
        <button class="menu-button" mat-button>Términos de uso</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
<mat-toolbar class="sna">
  <img src="assets/sna.png" alt="SNA" />
</mat-toolbar>
