:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}
.background-white {
  height: 120px;
}

.total {
  margin: 0 20px;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.delete-button {
  transform: translateY(-20px);
}
