<div fxFill fxLayout="column">
  <app-header class="mg-btm-80px"></app-header>
  <div class="contenedor">
    <mat-toolbar class="background-white title-toolbar mg-top-100px pd-0">
      <label class="step-title">Usuarios</label>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <div class="pd-lateral pb-100px">
      <div class="searchbar" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field>
          <mat-label>Buscar usuario</mat-label>
          <input matInput type="text" [(ngModel)]="searchValue" />
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          matSuffix
          aria-label="Search"
          (click)="search()"
          [disabled]="!searchValue.length"
        >
          Buscar
        </button>
      </div>

      <div class="paragraph-flex">
        <div class="main-table-container mat-elevation-z8">
          <div class="table-container">
            <table mat-table [dataSource]="searchValue.length ? dataSearch : data" matSort matSortDisableClear>
              <ng-container matColumnDef="curp">
                <th mat-header-cell *matHeaderCellDef>CURP</th>
                <td mat-cell *matCellDef="let row">{{ row.curp }}</td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre(s)</th>
                <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="primerApellido">
                <th mat-header-cell *matHeaderCellDef>Apellido paterno</th>
                <td mat-cell *matCellDef="let row">{{ row.primerApellido }}</td>
              </ng-container>

              <ng-container matColumnDef="segundoApellido">
                <th mat-header-cell *matHeaderCellDef>Apellido materno</th>
                <td mat-cell *matCellDef="let row">{{ row.segundoApellido }}</td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let row">{{ row.username }}</td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
                <td mat-cell *matCellDef="let row">{{ row.createdAt | date: 'dd/MM/yyyy' }}</td>
              </ng-container>

              <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef>Rol</th>
                <td mat-cell *matCellDef="let row">{{ transformRoles(row.roles) }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <a
                    mat-icon-button
                    href="admin/usuarios/{{ row._id }}"
                    target="_blank"
                    matTooltip="Ver perfil del usuario"
                  >
                    <mat-icon>visibility</mat-icon>
                  </a>
                  <a
                    mat-icon-button
                    href="admin/declaraciones/{{ row._id }}"
                    target="_blank"
                    [disabled]="!row.roles.includes('USER')"
                    matTooltip="Ver declaraciones del usuario"
                  >
                    <mat-icon>source</mat-icon>
                  </a>
                  <button *ngIf="isRoot" mat-icon-button (click)="changeRoles(row)" matTooltip="Editar roles">
                    <mat-icon>supervisor_account</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>

          <mat-paginator
            [ngClass]="{ hidden: searchValue.length }"
            [length]="resultsLength"
            [pageSize]="PAGE_SIZE"
            #usersPaginator
          ></mat-paginator>
          <mat-paginator
            [ngClass]="{ hidden: !searchValue.length }"
            [length]="resultsLength"
            [pageSize]="PAGE_SIZE"
            #searchPaginator
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
