@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container {
  height: calc(80vh - 280px);
}

.login-container {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}

.title-toolbar {
  height: 145px;
  padding: 0 min(20%, 180px);
}

.login-btn {
  width: 50%;
  transform: translateX(100%);
}

.login-box {
  box-shadow: none;
}
