mat-toolbar {
  background-color: #ffffff;
  font-size: 14px;
  height: 133px;
  border-bottom: 1px solid #f2f2f2;
  flex-wrap: wrap;
}

.pdn-logo {
  height: 40px;
  cursor: pointer;
}

.divider {
  border: solid var(--primary-color) 1px;
  display: inline-block;
  height: 54px;
  margin: 0 30px;
}

.title {
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  color: #848483;
}
