:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  color: rgba(96, 96, 96, 0.87);
}

.mg-top-100px {
  margin-top: 100px;
}
.mg-height-50px-30px {
  margin-top: 50px;
  margin-bottom: 30px;
}
.contenedor {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.pd-lateral {
  padding-left: 20px;
  padding-right: 20px;
}
.boton-agregar {
  padding: 0;
}
.center {
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  text-transform: uppercase;
  font-weight: 700;
}
.big-button {
  width: 350px;
}
mat-card {
  width: 100%;
}
.shadow {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.mat-list-base .mat-list-item .mat-divider {
  position: relative;
  margin: 10px 0;
}
.mat-list-base .mat-list-item {
  height: auto;
}
mat-list-item {
  margin-top: 20px;
}

.declaration-type {
  background-color: #c3f0fc;
  color: var(--primary-color);
  padding: 5px 10px;
}

.negritas {
  font-weight: bold;
}
