:host {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

.contenedor {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title-toolbar {
  padding: 0 !important;
}
.mg-btm-80px {
  margin-bottom: 80px;
}
.mg-top-100px {
  margin-top: 100px;
}
.mg-height-50px-30px {
  margin-top: 50px;
  margin-bottom: 30px;
}

.pd-lateral {
  padding-left: 20px;
  padding-right: 20px;
}
.big-text {
  font-size: 70px;
}
p.big-text {
  margin: 0;
}
.flex mat-card {
  flex: 0 0 calc(30%);
}
.boton-agregar,
.center {
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  text-transform: uppercase;
  font-weight: 700;
}
.center button {
  width: 350px;
}
