<div fxFill fxLayout="column">
  <app-header class="mg-btm-80px"></app-header>
  <div class="contenedor">
    <mat-toolbar class="background-white title-toolbar flex mg-top-100px">
      <label class="step-title">Lista de declaraciones {{ userID ? 'usuario' : '' }}</label>
    </mat-toolbar>
    <mat-divider class="mg-height-50px-30px"></mat-divider>

    <div class="pd-lateral">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Todas">
          <ng-template matTabContent>
            <div class="main-table-container mat-elevation-z8">
              <div class="table-container">
                <table mat-table [dataSource]="data" matSort matSortDisableClear>
                  <ng-container matColumnDef="tipoDeclaracion">
                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                    <td mat-cell *matCellDef="let row">{{ row.tipoDeclaracion }}</td>
                  </ng-container>

                  <ng-container matColumnDef="declaracionCompleta">
                    <th mat-header-cell *matHeaderCellDef>Simplificada</th>
                    <td mat-cell *matCellDef="let row">{{ row.declaracionCompleta ? 'NO' : 'SÍ' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="owner">
                    <th mat-header-cell *matHeaderCellDef>Declarante</th>
                    <td mat-cell *matCellDef="let row">{{ row.owner?.username }}</td>
                  </ng-container>

                  <ng-container matColumnDef="firmada">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{ row.firmada ? 'FINALIZADA' : 'EN PROGRESO' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="updatedAt">
                    <th mat-header-cell *matHeaderCellDef>Última actualización</th>
                    <td mat-cell *matCellDef="let row">{{ row.updatedAt | date: 'dd/MM/yyyy' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                      <button
                        *ngIf="isSuperAdmin || isRoot"
                        mat-icon-button
                        (click)="previewDeclaration(row._id)"
                        [disabled]="!row.firmada"
                        matTooltip="Ver detalle de la declaración"
                      >
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button
                        *ngIf="isSuperAdmin || isRoot"
                        mat-icon-button
                        (click)="previewDeclaration(row._id, true)"
                        [disabled]="!row.firmada"
                        matTooltip="Ver datos públicos de la declaración"
                      >
                        <mat-icon>folder_shared</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
              <mat-paginator [length]="total" [pageSize]="PAGE_SIZE" #totalPaginator></mat-paginator>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Inicial">
          <div class="main-table-container mat-elevation-z8">
            <div class="table-container">
              <table mat-table [dataSource]="dataInicial" matSort matSortDisableClear>
                <ng-container matColumnDef="tipoDeclaracion">
                  <th mat-header-cell *matHeaderCellDef>Tipo</th>
                  <td mat-cell *matCellDef="let row">{{ row.tipoDeclaracion }}</td>
                </ng-container>

                <ng-container matColumnDef="declaracionCompleta">
                  <th mat-header-cell *matHeaderCellDef>Simplificada</th>
                  <td mat-cell *matCellDef="let row">{{ row.declaracionCompleta ? 'NO' : 'SÍ' }}</td>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef>Declarante</th>
                  <td mat-cell *matCellDef="let row">{{ row.owner?.username }}</td>
                </ng-container>

                <ng-container matColumnDef="firmada">
                  <th mat-header-cell *matHeaderCellDef>Estatus</th>
                  <td mat-cell *matCellDef="let row">{{ row.firmada ? 'FINALIZADA' : 'EN PROGRESO' }}</td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                  <th mat-header-cell *matHeaderCellDef>Última actualización</th>
                  <td mat-cell *matCellDef="let row">{{ row.updatedAt | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id)"
                      disabled="!row.firmada"
                      matTooltip="Ver detalle de la declaración"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id, true)"
                      [disabled]="!row.firmada"
                      matTooltip="Ver datos públicos de la declaración"
                    >
                      <mat-icon>folder_shared</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <mat-paginator [length]="totalInicial" [pageSize]="PAGE_SIZE" #inicialPaginator></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Modificación">
          <div class="main-table-container mat-elevation-z8">
            <div class="table-container">
              <table mat-table [dataSource]="dataModificacion" matSort matSortDisableClear>
                <ng-container matColumnDef="tipoDeclaracion">
                  <th mat-header-cell *matHeaderCellDef>Tipo</th>
                  <td mat-cell *matCellDef="let row">{{ row.tipoDeclaracion }}</td>
                </ng-container>

                <ng-container matColumnDef="declaracionCompleta">
                  <th mat-header-cell *matHeaderCellDef>Simplificada</th>
                  <td mat-cell *matCellDef="let row">{{ row.declaracionCompleta ? 'NO' : 'SÍ' }}</td>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef>Declarante</th>
                  <td mat-cell *matCellDef="let row">{{ row.owner?.username }}</td>
                </ng-container>

                <ng-container matColumnDef="firmada">
                  <th mat-header-cell *matHeaderCellDef>Estatus</th>
                  <td mat-cell *matCellDef="let row">{{ row.firmada ? 'FINALIZADA' : 'EN PROGRESO' }}</td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                  <th mat-header-cell *matHeaderCellDef>Última actualización</th>
                  <td mat-cell *matCellDef="let row">{{ row.updatedAt | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id)"
                      disabled="!row.firmada"
                      matTooltip="Ver detalle de la declaración"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id, true)"
                      [disabled]="!row.firmada"
                      matTooltip="Ver datos públicos de la declaración"
                    >
                      <mat-icon>folder_shared</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <mat-paginator [length]="totalModificacion" [pageSize]="PAGE_SIZE" #modificacionPaginator></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Final">
          <div class="main-table-container mat-elevation-z8">
            <div class="table-container">
              <table mat-table [dataSource]="dataConclusion" matSort matSortDisableClear>
                <ng-container matColumnDef="tipoDeclaracion">
                  <th mat-header-cell *matHeaderCellDef>Tipo</th>
                  <td mat-cell *matCellDef="let row">{{ row.tipoDeclaracion }}</td>
                </ng-container>

                <ng-container matColumnDef="declaracionCompleta">
                  <th mat-header-cell *matHeaderCellDef>Simplificada</th>
                  <td mat-cell *matCellDef="let row">{{ row.declaracionCompleta ? 'NO' : 'SÍ' }}</td>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef>Declarante</th>
                  <td mat-cell *matCellDef="let row">{{ row.owner?.username }}</td>
                </ng-container>

                <ng-container matColumnDef="firmada">
                  <th mat-header-cell *matHeaderCellDef>Estatus</th>
                  <td mat-cell *matCellDef="let row">{{ row.firmada ? 'FINALIZADA' : 'EN PROGRESO' }}</td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                  <th mat-header-cell *matHeaderCellDef>Última actualización</th>
                  <td mat-cell *matCellDef="let row">{{ row.updatedAt | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id)"
                      [disabled]="!row.firmada"
                      matTooltip="Ver detalle de la declaración"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                      *ngIf="isSuperAdmin || isRoot"
                      mat-icon-button
                      (click)="previewDeclaration(row._id, true)"
                      [disabled]="!row.firmada"
                      matTooltip="Ver datos públicos de la declaración"
                    >
                      <mat-icon>folder_shared</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <mat-paginator [length]="totalConclusion" [pageSize]="PAGE_SIZE" #conclusionPaginator></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <mat-divider class="mg-top-100px"></mat-divider>
  </div>

  <app-footer></app-footer>
</div>
